body {
    font-family: 'Roboto', serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
}

a {
    color: #3475BC !important;
}

.site-header {
    font-family: 'Ibarra Real Nova', serif;
    background-color: #300e48f5;
    color: #fff;
    border-top: 0 !important;
}

.site-title, .site-title:visited, .page-link, .page-link:visited {
    color: #fff !important;
}
